{% load static %}
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="{% static 'images/HD_logo.png' %}" alt="Logo" style="margin-top: 5px;" width="50">
        <span class="fs-4">Happy Data</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/analysis/">Analysis</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="/">Main</a>
    </nav>
</div>