{% load static %}
<div class="section">
  <h1 class="steps-text">Third Step</h1>

  <form id="select_choice" class="select-choices" method="post">
    {% csrf_token %}
    <p class="comment2">Select a graf type:</p>
    <select id="select_plot" name="select_plot" class="custom-select">
      <option id="heat_map" name="heat_map" value="opt1">heatmap</option>
      <option id="box_plot" name="box_plot" value="opt2">boxplot</option>
      <option id="violin_plot" name="violin_plot" value="opt3">violinplot</option>
      <option id="hystogram" name="hystogram" value="opt4">hystogram</option>
      <option id="scatter_plot" name="scatter_plot" value="opt5">scatterplot</option>
    </select>
  </form>

  <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px">
    <div class="left">
      <form id="left_form" name="left_form" class="left-form">  
        {% csrf_token %}
        <p class="comment2">For the selected vizualization type, 
          you need to enter the names of the columns for which you want 
          to get visualization: </p>
          <input type="text" class="input-text" placeholder="Enter the 1st value">
          <input type="text" class="input-text" placeholder="Enter the 2nd value">
      </form>
    </div>

    <div class="right">
      <p></p>
    </div>
  </div>

  <form id="graph" name="graph" class="diagram">
    {% csrf_token %}
    <div class="chart-box">Graf1 1</div>
    <div class="bottons">
      <button type="submit" id="generate_botton" class="generate-button">Generate</button>
      <button type="submit" id="download" name="download" class="submit-button">Download</button>
    </div>
  </form>

</div>





